<IfModule mod_rewrite.c>
  RewriteEngine On
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule ^((?s).*)$ index.php?_url=/$1 [QSA,NC,L]
 
  #RewriteCond %{HTTPS} off
  #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

  # https://coderwall.com/p/erbaig/laravel-s-htaccess-to-remove-public-from-url
  RewriteRule ^(.*)$ public/$1 [L]

</IfModule>

